<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App uses the microphone to recognize your voice.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>App uses Bluetooth to support audio input from wireless headphones.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>App uses Apple Music to play songs you request by voice.</string>
	<key>NSAppleMediaLibraryUsageDescription</key>
	<string>App needs access to your music library to play songs by voice.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.metabrand.maloy2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>maloy2</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
